SCRIPTORIUM_RENDER_DPI=192
SCRIPTORIUM_DATA_DIR=data
SCRIPTORIUM_OCR_BACKEND=json
SCRIPTORIUM_PADDLE_MODEL_DIR=
SCRIPTORIUM_EXPORT_SCALE=1
SCRIPTORIUM_TRANSLATION_PROVIDER=mock
SCRIPTORIUM_TRANSLATION_API_KEY=
